<header class="sticky">
  <a routerLink="viewerproject"
     class="button"> Viewer Project</a>
  <a routerLink="newproject"
     class="button"> New Project </a>

</header>

<router-outlet></router-outlet>


<h2>List of projects</h2>
<ul *ngIf="projects.length > 0; else empty">
  <li *ngFor="let project of projects">
    <span>Project ID: {{ project.id }} </span> <br>
    <span>Name: {{ project.name }}</span>
    <br>
    <a routerLink="viewerproject/{{ project.id }}"
       class="button"> Viewer</a>
  </li>
</ul>

<ng-template #empty> <i>No projects</i> </ng-template>
